﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="~/css/style.css">

    <title>Support Wheel Of Fate</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <center><h1 class="display-1 title">Support Wheel Of Fate</h1></center>
            </div>
        </div>
        <div class="row" id="todaysCard">
            <div class="col-md">
                <center>
                    <div class="card text-center todaysCard">
                        <ul class="list-group list-group-flush">
                            <li id="todaysCardHeader" class="list-group-item cardHeader">Loading...</li>
                            <li id="todaysCardEngineer1" class="list-group-item">-</li>
                            <li id="todaysCardEngineer2" class="list-group-item">-</li>
                        </ul>
                    </div>
                </center>
            </div>
        </div>
        <div id="loadedEntries">
            <div class="row">
                <center>
                    @for (int i = 0; i < 10; i++)
                    {
                        <div class="card text-center cardPeriod">
                            <ul class="list-group list-group-flush">
                                <li id="day@(i.ToString())CardHeader" class="list-group-item cardHeader"></li>
                                <li id="day@(i.ToString())CardEngineer1" class="list-group-item"></li>
                                <li id="day@(i.ToString())CardEngineer2" class="list-group-item"></li>
                            </ul>
                        </div>
                    }
                </center>
            </div>
        </div>
        <center>
            <div class="btn-group">
                <button type="button" id="backButton" class="btn btn-primary" onclick="backButton()" disabled>Back</button>
                <button type="button" id="nextButton" class="btn btn-primary" onclick="nextButton()" disabled>Next period</button>
            </div>
            <button type="button" id="regButton" class="btn btn-danger" onclick="regenerateEntries()" disabled>Regenerate period entries</button>
        </center>                    
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        var baseUrl = 'http://localhost:1933';
        var currentPeriod = 0;

        function backButton() {
            if (currentPeriod > 0) {
                currentPeriod--;
                getEntries();
                return;
            }
            $('#backButton').prop('disabled', true);
        }

        function nextButton() {
            currentPeriod++;
            getEntries();
            $('#backButton').prop('disabled', false);
        }

        function initialize() {
            $.get(baseUrl + '/api/engineer/get', function (data) {
                if (data.length >= 10) {
                    getEntries();
                }
                for (var i = data.length + 1; i <= 10; i++) {
                    var calls = 10 - data.length;
                    $.ajax({    //adding test engineers
                        type: 'POST',
                        url: baseUrl + '/api/engineer/addOrUpdate',
                        data: {
                            Name: 'Engineer' + i
                        },
                    }).done(function () {
                        calls--;
                        if (calls === 0) {
                            getEntries();
                        }
                    }).fail(function () {
                        handleError();
                    });
                }
            }).fail(function () {
                handleError();
            });
        }

        function disableButtons() {
            $('#backButton').prop('disabled', true);
            $('#nextButton').prop('disabled', true);
            $('#regButton').prop('disabled', true);
        }

        function enableButtons() {
            $('#nextButton').prop('disabled', false);
            $('#regButton').prop('disabled', false);
            if (currentPeriod > 0) {
                $('#backButton').prop('disabled', false);
            }
        }

        function setTodayEntries(dateGroup) {
            $('#todaysCardHeader').html(new Date().toLocaleDateString());
            $('#todaysCardEngineer1').html(dateGroup[0].Engineer.Name);
            $('#todaysCardEngineer2').html(dateGroup[1].Engineer.Name);
        }

        function handleError() {
            $('#todaysCardHeader').html('ERROR');
            $('#todaysCardEngineer1').html('Make sure that server url is correct');
        }
        
        function getEntries() {
            disableButtons();
            return $.get(baseUrl + '/api/entry/get/?period=' + currentPeriod, function (data) {
                var i = 0;
                data.forEach(function (dateGroup) {
                    var date = new Date(dateGroup[0].Date.split('T')[0]);
                    if (date.toLocaleDateString() === new Date().toLocaleDateString()) {
                        setTodayEntries(dateGroup);
                    }
                    $('#day' + i + 'CardHeader').html(date.toLocaleDateString());
                    $('#day' + i + 'CardEngineer1').html(dateGroup[0].Engineer.Name);
                    $('#day' + i + 'CardEngineer2').html(dateGroup[1].Engineer.Name);
                    i++;
                });
                enableButtons();
            });           
        }
        function regenerateEntries() {
            disableButtons();
            $.ajax({
                type: 'DELETE',
                url: baseUrl + '/api/entry/deleteperiod',
                data: { Period : currentPeriod },
            }).then(function () {
                getEntries();
            });
        }
        initialize();
    </script>
</body>
</html>