﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.card {
    display:inline-block;
}
.loading {
    display:none;
    background-color: grey;
}
.title {
    color: white;
    text-shadow: 2px 2px black;
    font-weight: bold;
}
.cardHeader {
    background-color: lightblue;
}
.todaysCard {
    margin: 30px;
    font-size: 14px;
    width: 125px;
}
.cardPeriod {
    font-size: 10px;
    width: 100px;
}
#loadedEntries {
    margin-bottom: 5px;
}